@model EditProfileViewModel

@{
    ViewData["Title"] = " Edit User Profile";
}

<div class="text-5xl font-extrabold text-center">
    <span>
        Edit your Profile Details
    </span>
</div>

<div class="justify-content-center rounded-lg border w-auto shadow-xl m-5 bg-white">
    <div class="p-5">
        <!--user details-->

        <div class="pt-2 pb-2">
            <form asp-action="EditProfile" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="@Model.UserId" class="form-control" readonly="readonly" hidden />
                <input asp-for="@Model.ImageId" class="form-control" readonly="readonly" hidden />
                <input asp-for="@Model.Password" class="form-control" readonly="readonly" hidden />

                <div class="p-1">
@*                     <div class="justify-center text-md-center profilePicture rounded-full ">
                        <!--profile pic-->
                        <img src="@("~/img/profile/"+Model.ImageSrc)" asp-append-version="true" alt="User Profile image" class="rounded-full" />
                    </div>
 *@
                    <!--Change profile pic-->
                        <label>Choose a profile picture:</label>
                        <input type="file" id="UserImageSrc" name="UserImageSrc" accept="image/*">
                        <button type="submit" class="btn">Upload</button>
                </div>

                <hr />

                <div class="mb-8 form-group">
                    <b> <label asp-for="@Model.Email" class="control-label"></label></b>
                    <input asp-for="@Model.Email" class="form-control" readonly="readonly" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>

                <div class="mb-8 form-group">
                    <b> <label asp-for="@Model.Username" class="control-label"></label></b>
                    <input asp-for="@Model.Username" class="form-control" />
                    <span asp-validation-for="@Model.Username" class="text-danger"></span>
                </div>
                
                <div class="mb-8 form-group">
                    <b> <label class="control-label">First name</label></b>
                    <input asp-for="@Model.FirstName" class="form-control" />
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                </div>

                <div class="mb-8 form-group">
                    <b> <label class="control-label">Last name</label></b>
                    <input asp-for="@Model.LastName" class="form-control" />
                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                </div>

                <div class="mb-8 form-group">
                    <b> <label class="control-label">Province</label></b>
                    <select asp-for="Province" class="form-control">
                        <option selected="@(Model.Province == "ON" ? "selected" : null)" value="ON">ON</option>
                        <option selected="@(Model.Province == "AB" ? "selected" : null)" value="AB">AB</option>
                        <option selected="@(Model.Province == "BC" ? "selected" : null)" value="BC">BC</option>
                        <option selected="@(Model.Province == "MB" ? "selected" : null)" value="MB">MB</option>
                        <option selected="@(Model.Province == "NB" ? "selected" : null)" value="NB">NB</option>
                        <option selected="@(Model.Province == "NL" ? "selected" : null)" value="NL">NL</option>
                        <option selected="@(Model.Province == "NS" ? "selected" : null)" value="NS">NS</option>
                        <option selected="@(Model.Province == "PE" ? "selected" : null)" value="PE">PE</option>
                        <option selected="@(Model.Province == "QC" ? "selected" : null)" value="QC">QC</option>
                        <option selected="@(Model.Province == "SK" ? "selected" : null)" value="SK">SK</option>
                        <option selected="@(Model.Province == "NT" ? "selected" : null)" value="NT">NT</option>
                        <option selected="@(Model.Province == "NU" ? "selected" : null)" value="NU">NU</option>
                        <option selected="@(Model.Province == "YT" ? "selected" : null)" value="YT">YT</option>
                    </select>
                </div>



                <div class="mb-8 form-group">
                    <b> <label class="control-label">Bio</label></b>
                    <input asp-for="@Model.Bio" class="form-control" />
                    <span asp-validation-for="@Model.Bio" class="text-danger"></span>
                </div>

                <div class="mb-8 form-group">
                    <input type="submit" value="Save" class="btn rounded-md bg-indigo-600 mt-3 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-2" />
                    <a asp-action="Index" class="btn rounded-md bg-indigo-600 mt-3 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-2 ">Back to Profile Detail</a>
                </div>
            </form>
        </div>

    </div>
</div>

